---
// Component Imports
import Identity from '../components/Identity.svelte';
import Layout from '../components/Layout.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

let mainImgUrl = '/assets/+.svg';

//const netlifyIdentity = require('netlify-identity-widget');

---
<Layout title="BUSINESS PAGE">
<!--<div slot="header">-->
  <Identity slot="header" client:load bind={true}}/>
<!--</div>-->
</Layout>
