---
let mainImgUrl = '/assets/+.svg'
const props = Astro.props
//console.log(props)
---

<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>UroSystem B2B – {props.title}</title>
    <meta name="description" content="New customer onboarding form" />
    <style is:global>
      @import "/src/assets/global.css";
    </style>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
        rel="stylesheet"
        type="text/css">
    </noscript>
	</head>

	<!--<body style={`background-image: url('${mainImgUrl}')`}>-->
	<body>
    <header class="hero min-h-screen" style={`background-image: url('${mainImgUrl}')`}>
      <div class="hero-overlay"></div>
      <div class="hero---content text-neutral-content">
        <aside class="text-center mx-auto pb-16 max-w-md">
        <h1 class="mt-10 mb-5 text-5xl font-bold">UroSystem <br>North America </h1>
        <h2 class="mt-10 mb-5 text-3xl">{props.title}</h2>
          <slot name="header"/>
        </aside>
        <article class="max-w-4xl mx-auto py-8">
          <slot/>
        </article>
      </div>
    </header>
    <!--<main>
      <slot/>
    </main>-->
	</body>
</html>

<style>
  header {
    background-size: 568px;
  }
  /*@media (orientation: landscape) {
    header {
      @apply min-h-screen;
    }
  }*/
  header > * {
    backdrop-filter: blur(2px);
  }
  main {
    @apply container mx-auto;
    max-width: 1280px;
  }
  article {
    @apply prose md:prose-lg lg:prose-xl prose-a:underline prose-a:decoration-dotted;
  }

  h1 {
    word-break: break-word;
  }
</style>